
body {
  background-image: url("https://images.wallpaperscraft.com/image/texture_background_wood_dark_50971_2560x1080.jpg");
  background-position: center;
  background-size: 100% 50%;
}
/**/
.carousel-caption {
 color: black;
 text-align: center;
 font-size: 'larger';
 font-family: 'Josefin Slab';
 background-color: beige;
}

.menu {
 
 background-image: url("https://images.wallpaperscraft.com/image/texture_background_wood_dark_50971_2560x1080.jpg");
 background-size: 100% 50%;
 font-family: 'Josefin Slab';
 font-size: '300px';
 /*https://wallpaperscraft.com/download/texture_background_wood_dark_50971/2560x1080*/
}

a{ 
  color:white; 
  } 

.hist{
 background-color:white;
 text-align: center;
 font-family: 'Josefin Slab';
 border-style: groove;
}


#imp{

  background-color:white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
