
body {
  background-image: url("https://images.wallpaperscraft.com/image/texture_background_wood_dark_50971_2560x1080.jpg");
  background-position: center;
  background-size: 100% 50%;
}
/**/


#letra-carousel{
  text-align: center;
  font-family: 'Josefin Slab';
  font-size: 1000%;
  font-weight: bold;
  color:rgb(243, 243, 235);
}
.card-body{
  background:white;
}

.menu {
 
 background-image: url("https://images.wallpaperscraft.com/image/texture_background_wood_dark_50971_2560x1080.jpg");
 background-size: 100% 50%;
 font-family: 'Josefin Slab';
 font-size: '300px';
 /*https://wallpaperscraft.com/download/texture_background_wood_dark_50971/2560x1080*/
}

.historia{
 background-color:white;
 text-align: center;
 font-family: 'Josefin Slab';
 border-style: groove;
}

#boton{
  font-family: 'Josefin Slab';
  color: rgb(243, 243, 235); 
  font-weight: bold;
}

#confirmar{
  font-family: 'Josefin Slab';
  color:rgb(32, 156, 125);
  /*color: black;*/ 
  font-weight: bold;
}
#outlined-dense , #outlined-email-input, #outlined-password-input , .card-text{
  font-family: 'Josefin Slab';
  color: black;
  font-size: large;
}

#form-dialog-title {
  font-family: 'Josefin Slab';
  font-size: 200%;
 
}

#tituloPastas {
  font-family: 'Josefin Slab';
  font-size: 500%;
  color: rgb(243, 243, 235); 
  text-align: center;
  border-style: groove;
}
#bigger:hover{
  transform: scale(1.2) !important;
  
}



/*
#imp{

  background-color:white;
  text-align: center;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
